.form-auth
  %h2= t('auth.enter_new_password')

  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .form-group
      = f.label :password, "New password", class: 'sr-only'
      = f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control input-first', placeholder: t('auth.new_password')
      = f.label :password_confirmation, "Confirm new password", class: 'sr-only'
      = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control input-last', placeholder: t('auth.password_confirmation')
  
    - if @minimum_password_length
      %p
        %em= t(:'auth.min_chars', length: @minimum_password_length)
    
    .actions
      = f.submit t('auth.reset_password'), class: 'btn btn-success btn-block'

  = render "devise/shared/links"
