.form-auth
  %h2= t('auth.forgot_password')
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .form-group
      = f.label :email, class: 'sr-only'
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t(:"auth.email"), class: "form-control"
    .actions
      = f.submit t('auth.reset_password'), class: "btn btn-success btn-block"

  = render "devise/shared/links"
