!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Yet Another CSM - Starter App
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #wrapper-main.container
      #wrapper-inner.auth
        %nav#user-menu
          = render "devise/shared/user_menu"
        %header
          %h1
            =link_to "Y".html_safe, root_path, {class: 'logo-square'}

        - if notice
          .alert.alert-success= notice
        - if alert
          .alert.alert-danger= alert
        = yield

